In [1]:
import pandas as pd
import numpy as np
import joblib
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics

In [2]:
framingham = pd.read_csv(r"C:\Users\Owner\Documents\Data Science\Dataset\framingham_clean.csv")
diabetes = pd.read_csv(r"C:\Users\Owner\Documents\Data Science\Dataset\diabetes.csv")
heart = pd.read_csv(r"C:\Users\Owner\Documents\Data Science\Dataset\heart.csv")
kidney = pd.read_csv(r"C:\Users\Owner\Documents\Data Science\Dataset\kidney_disease.csv")

## Framingham Data

In [3]:
framingham.head()

,Unnamed: 0,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_groups,heart_rate_groups
0,0,1,39,4,0,0,0,0,0,0,195,106.0,70.0,26.97,80,77,0,0,1
1,1,0,46,2,0,0,0,0,0,0,250,121.0,81.0,28.73,95,76,0,1,1
2,2,1,48,1,1,20,0,0,0,0,245,127.5,80.0,25.34,75,70,0,1,1
3,3,0,61,3,1,30,0,0,1,0,225,150.0,95.0,28.58,65,103,1,2,1
4,4,0,46,3,1,23,0,0,0,0,285,130.0,84.0,23.10,85,85,0,1,1

In [4]:
framingham.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
framingham.head()

,gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_groups,heart_rate_groups
0,1,39,4,0,0,0,0,0,0,195,106.0,70.0,26.97,80,77,0,0,1
1,0,46,2,0,0,0,0,0,0,250,121.0,81.0,28.73,95,76,0,1,1
2,1,48,1,1,20,0,0,0,0,245,127.5,80.0,25.34,75,70,0,1,1
3,0,61,3,1,30,0,0,1,0,225,150.0,95.0,28.58,65,103,1,2,1
4,0,46,3,1,23,0,0,0,0,285,130.0,84.0,23.10,85,85,0,1,1

In [6]:
framingham.shape

(4240, 18)

In [7]:
framingham.columns

Index(['gender', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD', 'age_groups',
       'heart_rate_groups'],
      dtype='object')

In [8]:
framingham[ 'BPMeds'].value_counts()

0          4063
1           124
Missing      53
Name: BPMeds, dtype: int64

In [9]:
#df = framingham[framingham['BPMeds'] == 'Missing']

In [10]:
#df['BPMeds'].value_counts()

In [11]:
df = framingham[framingham['BPMeds']!='Missing']

In [12]:
framingham.shape

(4240, 18)

In [13]:
df.shape

(4187, 18)

In [14]:
framingham.describe()

,gender,age,education,currentSmoker,cigsPerDay,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,age_groups,heart_rate_groups
count,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000
mean,0.429245,49.580189,1.955189,0.494104,8.944340,0.005896,0.310613,0.025708,236.667689,132.354599,82.897759,25.799005,75.878774,81.600943,0.151887,1.100000,0.921698
std,0.495027,8.572942,1.018522,0.500024,11.904777,0.076569,0.462799,0.158280,44.328480,22.033300,11.910394,4.070775,12.023937,22.860340,0.358953,0.665533,0.348895
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000,0.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.077500,68.000000,72.000000,0.000000,1.000000,1.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000,1.000000,1.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,1.000000,0.000000,262.000000,144.000000,90.000000,28.032500,83.000000,85.000000,0.000000,2.000000,1.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000,2.000000,2.000000

In [15]:
framingham.isnull().sum()

gender               0
age                  0
education            0
currentSmoker        0
cigsPerDay           0
BPMeds               0
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol              0
sysBP                0
diaBP                0
BMI                  0
heartRate            0
glucose              0
TenYearCHD           0
age_groups           0
heart_rate_groups    0
dtype: int64

In [16]:
framingham['heart_rate_groups'].value_counts()

1    3698
0     437
2     105
Name: heart_rate_groups, dtype: int64

In [17]:
X = df.drop(['heart_rate_groups'], axis=1) # Features
y = df['heart_rate_groups']

In [18]:
# Define class weights
#class_weights = {1: 0.5, 0: 10, 2: 20}  # You can adjust the weights based on the class distribution

# Train the model with class weights
#model = RandomForestClassifier(class_weight=class_weights)
#model.fit(X_train, y_train)

# Predict on the test set
#y_pred = model.predict(X_test)

# Evaluate the model
#print(classification_report(y_test, y_pred))

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=16)

In [20]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [21]:
# Check the unique class labels in y_train
unique_classes = set(y_train)
print("Unique class labels in y_train:", unique_classes)

# Update class_weights dictionary to include only the class labels present in y_train
class_weights = {label: 1 for label in unique_classes}
print("Updated class weights:", class_weights)

# Train the model with updated class weights
heart_rate = RandomForestClassifier(class_weight=class_weights)
heart_rate.fit(X_train, y_train)

Unique class labels in y_train: {0, 1, 2}
Updated class weights: {0: 1, 1: 1, 2: 1}

RandomForestClassifier(class_weight={0: 1, 1: 1, 2: 1})

In [22]:
y_pred= heart_rate.predict(X_test)

In [23]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9992044550517104

In [25]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(heart_rate, X, y, cv=5)
print(f"Cross-Validation Scores: {cv_scores}")
print(f"Mean CV Score: {cv_scores.mean()}")

Cross-Validation Scores: [0.99880668 1.         1.         0.99641577 1.        ]
Mean CV Score: 0.9990444906373769

In [26]:
'''
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
'''

'\n# Create Decision Tree classifer object\nclf = DecisionTreeClassifier()\n\n# Train Decision Tree Classifer\nclf = clf.fit(X_train,y_train)\n\n#Predict the response for test dataset\ny_pred = clf.predict(X_test)\n'

In [27]:
# Model Accuracy, how often is the classifier correct?
#print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [28]:
'''
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
'''

'\n# Create Decision Tree classifer object\nclf = DecisionTreeClassifier(criterion="entropy", max_depth=3)\n\n# Train Decision Tree Classifer\nclf = clf.fit(X_train,y_train)\n\n#Predict the response for test dataset\ny_pred = clf.predict(X_test)\n\n# Model Accuracy, how often is the classifier correct?\nprint("Accuracy:",metrics.accuracy_score(y_test, y_pred))\n'

In [29]:
'''
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])
'''

"\nfrom sklearn.metrics import confusion_matrix\n\ncm = confusion_matrix(y_test, y_pred)\n\nprint('Confusion matrix\n\n', cm)\n\nprint('\nTrue Positives(TP) = ', cm[0,0])\n\nprint('\nTrue Negatives(TN) = ', cm[1,1])\n\nprint('\nFalse Positives(FP) = ', cm[0,1])\n\nprint('\nFalse Negatives(FN) = ', cm[1,0])\n"

In [30]:
'''
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(clf, X, y, cv=5)
print(f"Cross-Validation Scores: {cv_scores}")
print(f"Mean CV Score: {cv_scores.mean()}")
'''

'\nfrom sklearn.model_selection import cross_val_score\n\ncv_scores = cross_val_score(clf, X, y, cv=5)\nprint(f"Cross-Validation Scores: {cv_scores}")\nprint(f"Mean CV Score: {cv_scores.mean()}")\n'

In [31]:
'''
import numpy as np

# Check for overlap between training and test sets
overlap = np.intersect1d(X_train, X_test)
print(f"Overlap: {overlap}")
'''

'\nimport numpy as np\n\n# Check for overlap between training and test sets\noverlap = np.intersect1d(X_train, X_test)\nprint(f"Overlap: {overlap}")\n'

In [46]:

#from sklearn.ensemble import RandomForestClassifier

#model = RandomForestClassifier()
#model.fit(X_train, y_train)

#importances = heart_rate.feature_importances_
#print(f"Feature Importances: {feature_importances}")

In [47]:

#feature_importances = pd.DataFrame(importances, index=X.columns, columns=['importance'])
#feature_importances = feature_importances.sort_values(by='importance', ascending=False)
#print(feature_importances)

# Assess cumulative importance
#cumulative_importance = feature_importances['importance'].cumsum()
#print(cumulative_importance)

In [ ]:
'''
# Assess cumulative importance
cumulative_importance = feature_importances['importance'].cumsum()
print(cumulative_importance)
''''

In [ ]:
'''
# Set a threshold for feature importance
threshold = 0.001

# Filter out features below the threshold
important_features = feature_importances[feature_importances['importance'] > threshold]
selected_features = important_features.index.tolist()
print(selected_features)
# Update the dataset with selected features
X = df[selected_features]
y = df['heart_rate_groups']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=16)

# Retrain the model with selected features
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Evaluate the model
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy with selected features: {accuracy}")
'''

In [ ]:
'''
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
'''

In [ ]:
'''
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(model, X, y, cv=5)
print(f"Cross-Validation Scores: {cv_scores}")
print(f"Mean CV Score: {cv_scores.mean()}")
''''

## Diabetes Data

In [48]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [49]:
diabetes.shape

(768, 9)

In [50]:
diabetes.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [51]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [52]:
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [53]:
diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [54]:
X = diabetes.drop(['Outcome'], axis=1)
y = diabetes['Outcome']

In [55]:
# split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [56]:
X_train.shape, X_test.shape

((537, 8), (231, 8))

In [57]:
cols = X_train.columns

In [58]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [59]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [60]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [61]:
# train a Gaussian Naive Bayes classifier on the training set
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(X_train, y_train)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

GaussianNB()

In [62]:
y_pred = gnb.predict(X_test)

y_pred

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [63]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.7619

In [64]:
y_pred_train = gnb.predict(X_train)

y_pred_train

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

array([1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 0], dtype=int64)

In [65]:
from sklearn.metrics import accuracy_score

print('Train accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_train)))

Train accuracy score: 1.0000

In [66]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])

Confusion matrix

 [[138  19]
 [ 36  38]]

True Positives(TP) =  138

True Negatives(TN) =  38

False Positives(FP) =  19

False Negatives(FN) =  36

In [67]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.88      0.83       157
           1       0.67      0.51      0.58        74

    accuracy                           0.76       231
   macro avg       0.73      0.70      0.71       231
weighted avg       0.75      0.76      0.75       231

[[138  19]
 [ 36  38]]

In [68]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

diabetesm = RandomForestClassifier()
diabetesm.fit(X_train, y_train)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

RandomForestClassifier()

In [69]:
y_pred = diabetesm.predict(X_test)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [70]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.7749

In [71]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.87      0.84       157
           1       0.68      0.57      0.62        74

    accuracy                           0.77       231
   macro avg       0.74      0.72      0.73       231
weighted avg       0.77      0.77      0.77       231

[[137  20]
 [ 32  42]]

In [73]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(diabetesm, X, y, cv=5)
print(f"Cross-Validation Scores: {cv_scores}")
print(f"Mean CV Score: {cv_scores.mean()}")

Cross-Validation Scores: [0.76623377 0.72727273 0.77922078 0.82352941 0.73856209]
Mean CV Score: 0.7669637551990492

## Heart Data

In [74]:
heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [75]:
heart.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [76]:
heart.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [77]:
heart.shape

(918, 12)

In [78]:
heart.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [79]:
heart.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [80]:
heart['HeartDisease'].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [81]:
cols = heart.select_dtypes(include=['object'])

In [82]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in cols:
  heart[i]=le.fit_transform(heart[i])

In [83]:
heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [84]:
from sklearn.preprocessing import StandardScaler
encode=['Age','RestingBP','Cholesterol', 'MaxHR', 'Oldpeak']
scaler=StandardScaler()
for i in encode:
  heart[i]=scaler.fit_transform(heart[i].values.reshape(-1,1))

In [85]:
heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,-1.433140,1,1,0.410909,0.825070,0,1,1.382928,0,-0.832432,2,0
1,-0.478484,0,2,1.491752,-0.171961,0,1,0.754157,0,0.105664,1,1
2,-1.751359,1,1,-0.129513,0.770188,0,2,-1.525138,0,-0.832432,2,0
3,-0.584556,0,0,0.302825,0.139040,0,1,-1.132156,1,0.574711,1,1
4,0.051881,1,2,0.951331,-0.034755,0,1,-0.581981,0,-0.832432,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,-0.902775,1,3,-1.210356,0.596393,0,1,-0.188999,0,0.293283,1,1
914,1.536902,1,0,0.627078,-0.053049,1,1,0.164684,0,2.357094,1,1
915,0.370100,1,0,-0.129513,-0.620168,0,1,-0.857069,1,0.293283,1,1
916,0.370100,0,1,-0.129513,0.340275,0,0,1.461525,0,-0.832432,1,1
917,-1.645286,1,2,0.302825,-0.217696,0,1,1.422226,0,-0.832432,2,0

In [86]:
X=heart.iloc[:, :-1].values
y=heart.iloc[:,-1].values

In [87]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

sk=StratifiedKFold(n_splits=5)
score=cross_val_score(DecisionTreeClassifier(random_state = 0),X, y,cv=sk)
print(np.mean(score))

0.7428367783321455

In [88]:
#Fitting Decision Tree classifier to the training set  
from sklearn.ensemble import RandomForestClassifier  
heartm= RandomForestClassifier(criterion='entropy', random_state=0)  
heartm.fit(X_train, y_train)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

RandomForestClassifier(criterion='entropy', random_state=0)

In [89]:
y_pred = heartm.predict(X_test)

C:\Users\Owner\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [90]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)  
cm

array([[139,  18],
       [ 32,  42]], dtype=int64)

In [91]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.7835

In [92]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.89      0.85       157
           1       0.70      0.57      0.63        74

    accuracy                           0.78       231
   macro avg       0.76      0.73      0.74       231
weighted avg       0.78      0.78      0.78       231

[[139  18]
 [ 32  42]]

## Kidney

In [93]:
kidney.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [94]:
kidney.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [95]:
kidney.shape

(400, 26)

In [96]:
kidney.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [97]:
kidney.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [98]:
#kidney.drop(['rc','pc','rbc','pot','sod'], axis=1, inplace=True)

In [99]:
kidney['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [100]:
kidney.drop(['id'],axis=1,inplace=True)

In [101]:
kidney.shape

(400, 25)

In [102]:
#kidney = kidney.drop(['id'], axis=1,inplace=True)

In [103]:
kidney.columns = ['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells', 'pus_cell',
              'pus_cell_clumps', 'bacteria', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
              'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count', 'red_blood_cell_count',
              'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'peda_edema',
              'aanemia', 'class']

In [104]:
kidney['packed_cell_volume'] = pd.to_numeric(kidney['packed_cell_volume'], errors='coerce')
kidney['white_blood_cell_count'] = pd.to_numeric(kidney['white_blood_cell_count'], errors='coerce')
kidney['red_blood_cell_count'] = pd.to_numeric(kidney['red_blood_cell_count'], errors='coerce')

In [105]:
cat_cols = [col for col in kidney.columns if kidney[col].dtype == 'object']
num_cols = [col for col in kidney.columns if kidney[col].dtype != 'object']

In [106]:
for col in cat_cols:
    print(f"{col} has {kidney[col].unique()}")

red_blood_cells has [nan 'normal' 'abnormal']
pus_cell has ['normal' 'abnormal' nan]
pus_cell_clumps has ['notpresent' 'present' nan]
bacteria has ['notpresent' 'present' nan]
hypertension has ['yes' 'no' nan]
diabetes_mellitus has ['yes' 'no' ' yes' '\tno' '\tyes' nan]
coronary_artery_disease has ['no' 'yes' '\tno' nan]
appetite has ['good' 'poor' nan]
peda_edema has ['no' 'yes' nan]
aanemia has ['no' 'yes' nan]
class has ['ckd' 'ckd\t' 'notckd']

In [107]:
kidney['diabetes_mellitus'].replace(to_replace = {'\tno':'no', '\tyes': 'yes', ' yes':'yes'}, inplace=True)
kidney['coronary_artery_disease'] = kidney['coronary_artery_disease'].replace(to_replace = '\tno', value = 'no')
kidney['class'] = kidney['class'].replace(to_replace={'ckd\t':'ckd', 'notckd': 'not ckd'})

In [108]:
cols = ['diabetes_mellitus', 'coronary_artery_disease', 'class']
for col in cols:
    print(f"{col} has {kidney[col].unique()}")

diabetes_mellitus has ['yes' 'no' nan]
coronary_artery_disease has ['no' 'yes' nan]
class has ['ckd' 'not ckd']

In [109]:
kidney['class'] = kidney['class'].map({'ckd':0, 'not ckd': 1})
kidney['class'] = pd.to_numeric(kidney['class'], errors = 'coerce')

In [110]:
cols = ['diabetes_mellitus', 'coronary_artery_disease', 'class']
for col in cols:
    print(f"{col} has {kidney[col].unique()}")

diabetes_mellitus has ['yes' 'no' nan]
coronary_artery_disease has ['no' 'yes' nan]
class has [0 1]

In [111]:
# checking for missing value
kidney.isnull().sum().sort_values(ascending=False)

red_blood_cells            152
red_blood_cell_count       131
white_blood_cell_count     106
potassium                   88
sodium                      87
packed_cell_volume          71
pus_cell                    65
haemoglobin                 52
sugar                       49
specific_gravity            47
albumin                     46
blood_glucose_random        44
blood_urea                  19
serum_creatinine            17
blood_pressure              12
age                          9
bacteria                     4
pus_cell_clumps              4
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
peda_edema                   1
aanemia                      1
class                        0
dtype: int64

In [112]:
kidney[num_cols].isnull().sum()

age                         9
blood_pressure             12
specific_gravity           47
albumin                    46
sugar                      49
blood_glucose_random       44
blood_urea                 19
serum_creatinine           17
sodium                     87
potassium                  88
haemoglobin                52
packed_cell_volume         71
white_blood_cell_count    106
red_blood_cell_count      131
dtype: int64

In [113]:
kidney[cat_cols].isnull().sum()

red_blood_cells            152
pus_cell                    65
pus_cell_clumps              4
bacteria                     4
hypertension                 2
diabetes_mellitus            2
coronary_artery_disease      2
appetite                     1
peda_edema                   1
aanemia                      1
class                        0
dtype: int64

In [114]:
def random_sampling(feature):
    random_sample = kidney[feature].dropna().sample(kidney[feature].isna().sum())
    random_sample.index = kidney[kidney[feature].isnull()].index
    kidney.loc[kidney[feature].isnull(), feature] = random_sample

def impute_mode(feature):
    mode = kidney[feature].mode()[0]
    kidney[feature] = kidney[feature].fillna(mode)

In [115]:
# random sampling for numerical value
for col in num_cols:
    random_sampling(col)

In [116]:
kidney[num_cols].isnull().sum()

age                       0
blood_pressure            0
specific_gravity          0
albumin                   0
sugar                     0
blood_glucose_random      0
blood_urea                0
serum_creatinine          0
sodium                    0
potassium                 0
haemoglobin               0
packed_cell_volume        0
white_blood_cell_count    0
red_blood_cell_count      0
dtype: int64

In [117]:
random_sampling('red_blood_cells')
random_sampling('pus_cell')

for col in cat_cols:
    impute_mode(col)

In [118]:
kidney[cat_cols].isna().sum()

red_blood_cells            0
pus_cell                   0
pus_cell_clumps            0
bacteria                   0
hypertension               0
diabetes_mellitus          0
coronary_artery_disease    0
appetite                   0
peda_edema                 0
aanemia                    0
class                      0
dtype: int64

In [119]:
# label_encoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in cat_cols:
    kidney[col] = le.fit_transform(kidney[col])

In [120]:
X = kidney.drop('class', axis = 1)
y = kidney['class']

In [121]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train, y_test =  train_test_split(X,y, test_size = 0.2, random_state = 0)

In [122]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [123]:
dtc_acc = accuracy_score(y_test, dtc.predict(X_test))
print(f"Training Accuracy of DTC is {accuracy_score(y_train, dtc.predict(X_train))}")
print(f"Testing Accuracy of DTC is {accuracy_score(y_test, dtc.predict(X_test))}")

print(f"Confusion Matrix of DTC is \n {confusion_matrix(y_test, dtc.predict(X_test))}\n")
print(f"Classification Report of DTC is \n{classification_report(y_test, dtc.predict(X_test))}")

Training Accuracy of DTC is 1.0
Testing Accuracy of DTC is 0.9625
Confusion Matrix of DTC is
 [[51  1]
 [ 2 26]]

Classification Report of DTC is
              precision    recall  f1-score   support

           0       0.96      0.98      0.97        52
           1       0.96      0.93      0.95        28

    accuracy                           0.96        80
   macro avg       0.96      0.95      0.96        80
weighted avg       0.96      0.96      0.96        80

In [126]:
from sklearn.ensemble import RandomForestClassifier

kidneym = RandomForestClassifier(criterion = "gini", max_depth = 10, max_features="sqrt", min_samples_leaf= 1, min_samples_split= 7, n_estimators = 400)
kidneym.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, max_features='sqrt', min_samples_split=7,
                       n_estimators=400)

In [128]:
rand_clf_acc = accuracy_score(y_test, kidney.predict(X_test))
print(f"Training Accuracy of Random Forest is {accuracy_score(y_train, kidneym.predict(X_train))}")
print(f"Testing Accuracy of Random Forest is {accuracy_score(y_test, kidneym.predict(X_test))}")

print(f"Confusion Matrix of Random Forest is \n {confusion_matrix(y_test, kidneym.predict(X_test))}\n")
print(f"Classification Report of Random Forest is \n{classification_report(y_test, kidneym.predict(X_test))}")

Training Accuracy of Random Forest is 1.0
Testing Accuracy of Random Forest is 0.975
Confusion Matrix of Random Forest is
 [[52  0]
 [ 2 26]]

Classification Report of Random Forest is
              precision    recall  f1-score   support

           0       0.96      1.00      0.98        52
           1       1.00      0.93      0.96        28

    accuracy                           0.97        80
   macro avg       0.98      0.96      0.97        80
weighted avg       0.98      0.97      0.97        80

In [130]:
pip install joblib

Requirement already satisfied: joblib in c:\users\owner\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\owner\anaconda3\lib\site-packages)

In [135]:
import joblib

heart_model = joblib.dump(heart,'heart.joblib')
diabetes_model = joblib.dump(diabetesm,'diabetes.joblib')
kidney_model = joblib.dump(kidneym,'kidney.joblib')
framingham_model = joblib.dump(heart_rate,'heart_rate.joblib')

## ML MODELS

In [33]:
'''
# Define imputation strategies
numerical_imputer = SimpleImputer(strategy='mean')
categorical_imputer = SimpleImputer(strategy='most_frequent')
one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
'''

"\n# Define imputation strategies\nnumerical_imputer = SimpleImputer(strategy='mean')\ncategorical_imputer = SimpleImputer(strategy='most_frequent')\none_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')\n"

In [34]:
# Preprocess each dataset and fit imputers
#def preprocess_and_impute(data, numerical_cols, categorical_cols):
#    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])
#    data[categorical_cols] = categorical_imputer.fit_transform(data[categorical_cols])
#    return data

In [35]:
# Preprocess each dataset and fit imputers and encoders
#def preprocess_and_impute(data, numerical_cols, categorical_cols):
    # Ensure columns are correctly formatted
#    for col in categorical_cols:
#        data[col] = data[col].astype('category')
    
    # Impute numerical columns
#    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])

    # Impute categorical columns
#    for col in categorical_cols:
#        data[col] = categorical_imputer.fit_transform(data[[col]])
    
    # One-hot encode categorical columns
#    encoded_cols = one_hot_encoder.fit_transform(data[categorical_cols])
#    encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(categorical_cols))
#    data = data.drop(categorical_cols, axis=1)
#    data = pd.concat([data, encoded_df], axis=1)
    
#   return data

In [36]:
#numeric_data = framingham.select_dtypes(include=[np.number])
#print('Numeric cols:' ,numeric_data.columns)
#categorical_data = framingham.select_dtypes(exclude=[np.number])
#print('Categorical cols:',categorical_data.head(2))

In [37]:
#print('Categorical cols:',categorical_data.head(2))

In [38]:
# Specify features and preprocess
#framingham = preprocess_and_impute(framingham, numerical_cols=['age', 'totChol','BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'BMI','cigsPerDay'], categorical_cols=['gender','education', 'currentSmoker','age_groups'])
#kidney = preprocess_and_impute(kidney, numerical_cols=['age', 'bp', 'su','al','bgr','bu','sc','hemo' ], categorical_cols=['pcc','ba','htn','dm','cad','appet','ane'])
#diabetes = preprocess_and_impute(diabetes, numerical_cols=['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin','BMI', 'DiabetesPedigreeFunction', 'Age'], categorical_cols=[])
#heart = preprocess_and_impute(heart, numerical_cols=['Age', 'RestingBP','Cholesterol'], categorical_cols=['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope','FastingBS'])

In [39]:
#framingham.head()

In [40]:
# Train models
#model_framingham = RandomForestClassifier(n_estimators=100, random_state=42)
#model_framingham.fit(framingham[['age', 'totChol', 'BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'BMI', 'cigsPerDay', 'gender', 'education', 'currentSmoker', 'age_groups']], framingham['heart_rate_groups'])

#model_kidney = RandomForestClassifier(n_estimators=100, random_state=42)
#model_kidney.fit(kidney[['age', 'bp', 'su', 'al', 'bgr', 'bu', 'sc', 'hemo', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'ane']], kidney['classification'])

#model_diabetes = RandomForestClassifier(n_estimators=100, random_state=42)
#model_diabetes.fit(diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']], diabetes['Outcome'])

#model_heart = RandomForestClassifier(n_estimators=100, random_state=42)
#model_heart.fit(heart[['Age', 'RestingBP', 'Cholesterol', 'Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']], heart['HeartDisease'])

In [41]:
'''
# Preprocess each dataset and fit imputers and encoders
def preprocess_and_impute(data, numerical_cols, categorical_cols):
    # Ensure columns are correctly formatted
    for col in categorical_cols:
        data[col] = data[col].astype('category')
    
    # Impute numerical columns
    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])

    # Impute categorical columns
    for col in categorical_cols:
        data[col] = categorical_imputer.fit_transform(data[[col]])
    
    # One-hot encode categorical columns
    encoded_cols = one_hot_encoder.fit_transform(data[categorical_cols])
    encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(categorical_cols))
    data = data.drop(categorical_cols, axis=1)
    data = pd.concat([data, encoded_df], axis=1)
    
    return data

# Specify features and preprocess
framingham_numerical_cols = ['age', 'totChol', 'BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'cigsPerDay']
framingham_categorical_cols = ['gender','education', 'currentSmoker', 'age_groups']
framingham = preprocess_and_impute(framingham, numerical_cols=framingham_numerical_cols, categorical_cols=framingham_categorical_cols)

kidney_numerical_cols = ['age', 'bp', 'su', 'al', 'bgr', 'bu', 'sc', 'hemo']
kidney_categorical_cols = ['pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'ane']
kidney = preprocess_and_impute(kidney, numerical_cols=kidney_numerical_cols, categorical_cols=kidney_categorical_cols)

diabetes_numerical_cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
diabetes = preprocess_and_impute(diabetes, numerical_cols=diabetes_numerical_cols, categorical_cols=[])

heart_numerical_cols = ['Age', 'RestingBP', 'Cholesterol']
heart_categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']
heart = preprocess_and_impute(heart, numerical_cols=heart_numerical_cols, categorical_cols=heart_categorical_cols)
'''

"\n# Preprocess each dataset and fit imputers and encoders\ndef preprocess_and_impute(data, numerical_cols, categorical_cols):\n    # Ensure columns are correctly formatted\n    for col in categorical_cols:\n        data[col] = data[col].astype('category')\n    \n    # Impute numerical columns\n    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])\n\n    # Impute categorical columns\n    for col in categorical_cols:\n        data[col] = categorical_imputer.fit_transform(data[[col]])\n    \n    # One-hot encode categorical columns\n    encoded_cols = one_hot_encoder.fit_transform(data[categorical_cols])\n    encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(categorical_cols))\n    data = data.drop(categorical_cols, axis=1)\n    data = pd.concat([data, encoded_df], axis=1)\n    \n    return data\n\n# Specify features and preprocess\nframingham_numerical_cols = ['age', 'totChol', 'BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'cigsPerDay']\nframingham_categorical_cols = ['gender','education', 'currentSmoker', 'age_groups']\nframingham = preprocess_and_impute(framingham, numerical_cols=framingham_numerical_cols, categorical_cols=framingham_categorical_cols)\n\nkidney_numerical_cols = ['age', 'bp', 'su', 'al', 'bgr', 'bu', 'sc', 'hemo']\nkidney_categorical_cols = ['pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'ane']\nkidney = preprocess_and_impute(kidney, numerical_cols=kidney_numerical_cols, categorical_cols=kidney_categorical_cols)\n\ndiabetes_numerical_cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']\ndiabetes = preprocess_and_impute(diabetes, numerical_cols=diabetes_numerical_cols, categorical_cols=[])\n\nheart_numerical_cols = ['Age', 'RestingBP', 'Cholesterol']\nheart_categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']\nheart = preprocess_and_impute(heart, numerical_cols=heart_numerical_cols, categorical_cols=heart_categorical_cols)\n"

In [42]:
'''
# Ensure all columns are present after preprocessing
print(framingham.columns)
print(kidney.columns)
print(diabetes.columns)
print(heart.columns)
'''

'\n# Ensure all columns are present after preprocessing\nprint(framingham.columns)\nprint(kidney.columns)\nprint(diabetes.columns)\nprint(heart.columns)\n'

In [43]:
'''
model_framingham = RandomForestClassifier(n_estimators=100, random_state=42)
model_framingham.fit(framingham[framingham_numerical_cols + list(one_hot_encoder.get_feature_names_out(framingham_categorical_cols))], framingham['heart_rate_groups'])

model_kidney = RandomForestClassifier(n_estimators=100, random_state=42)
model_kidney.fit(kidney[kidney_numerical_cols + list(one_hot_encoder.get_feature_names_out(kidney_categorical_cols))], kidney['classification'])

model_diabetes = RandomForestClassifier(n_estimators=100, random_state=42)
model_diabetes.fit(diabetes[diabetes_numerical_cols], diabetes['Outcome'])

model_heart = RandomForestClassifier(n_estimators=100, random_state=42)
model_heart.fit(heart[heart_numerical_cols + list(one_hot_encoder.get_feature_names_out(heart_categorical_cols))], heart['HeartDisease'])
'''

"\nmodel_framingham = RandomForestClassifier(n_estimators=100, random_state=42)\nmodel_framingham.fit(framingham[framingham_numerical_cols + list(one_hot_encoder.get_feature_names_out(framingham_categorical_cols))], framingham['heart_rate_groups'])\n\nmodel_kidney = RandomForestClassifier(n_estimators=100, random_state=42)\nmodel_kidney.fit(kidney[kidney_numerical_cols + list(one_hot_encoder.get_feature_names_out(kidney_categorical_cols))], kidney['classification'])\n\nmodel_diabetes = RandomForestClassifier(n_estimators=100, random_state=42)\nmodel_diabetes.fit(diabetes[diabetes_numerical_cols], diabetes['Outcome'])\n\nmodel_heart = RandomForestClassifier(n_estimators=100, random_state=42)\nmodel_heart.fit(heart[heart_numerical_cols + list(one_hot_encoder.get_feature_names_out(heart_categorical_cols))], heart['HeartDisease'])\n"

In [44]:
'''
# Define imputation strategies
numerical_imputer = SimpleImputer(strategy='mean')
categorical_imputer = SimpleImputer(strategy='most_frequent')
one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Preprocess each dataset and fit imputers and encoders
def preprocess_and_impute(data, numerical_cols, categorical_cols):
    # Ensure columns are correctly formatted
    for col in categorical_cols:
        data[col] = data[col].astype('category')
    
    # Impute numerical columns
    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])

    # Impute categorical columns
    for col in categorical_cols:
        data[col] = categorical_imputer.fit_transform(data[[col]])
    
    # One-hot encode categorical columns
    encoded_cols = one_hot_encoder.fit_transform(data[categorical_cols])
    encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(categorical_cols))
    data = data.drop(categorical_cols, axis=1)
    data = pd.concat([data, encoded_df], axis=1)
    
    return data

# Specify features and preprocess
framingham_numerical_cols = ['age', 'totChol', 'BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'cigsPerDay']
framingham_categorical_cols = ['gender', 'education', 'currentSmoker', 'age_groups']
framingham = preprocess_and_impute(framingham, numerical_cols=framingham_numerical_cols, categorical_cols=framingham_categorical_cols)

kidney_numerical_cols = ['age', 'bp', 'su', 'al', 'bgr', 'bu', 'sc', 'hemo']
kidney_categorical_cols = ['pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'ane']
kidney = preprocess_and_impute(kidney, numerical_cols=kidney_numerical_cols, categorical_cols=kidney_categorical_cols)

diabetes_numerical_cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
diabetes = preprocess_and_impute(diabetes, numerical_cols=diabetes_numerical_cols, categorical_cols=[])

heart_numerical_cols = ['Age', 'RestingBP', 'Cholesterol']
heart_categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']
heart = preprocess_and_impute(heart, numerical_cols=heart_numerical_cols, categorical_cols=heart_categorical_cols)

# Ensure all columns are present after preprocessing
print(framingham.columns)
print(kidney.columns)
print(diabetes.columns)
print(heart.columns)
'''

"\n# Define imputation strategies\nnumerical_imputer = SimpleImputer(strategy='mean')\ncategorical_imputer = SimpleImputer(strategy='most_frequent')\none_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')\n\n# Preprocess each dataset and fit imputers and encoders\ndef preprocess_and_impute(data, numerical_cols, categorical_cols):\n    # Ensure columns are correctly formatted\n    for col in categorical_cols:\n        data[col] = data[col].astype('category')\n    \n    # Impute numerical columns\n    data[numerical_cols] = numerical_imputer.fit_transform(data[numerical_cols])\n\n    # Impute categorical columns\n    for col in categorical_cols:\n        data[col] = categorical_imputer.fit_transform(data[[col]])\n    \n    # One-hot encode categorical columns\n    encoded_cols = one_hot_encoder.fit_transform(data[categorical_cols])\n    encoded_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(categorical_cols))\n    data = data.drop(categorical_cols, axis=1)\n    data = pd.concat([data, encoded_df], axis=1)\n    \n    return data\n\n# Specify features and preprocess\nframingham_numerical_cols = ['age', 'totChol', 'BMI', 'heartRate', 'glucose', 'sysBP', 'diaBP', 'cigsPerDay']\nframingham_categorical_cols = ['gender', 'education', 'currentSmoker', 'age_groups']\nframingham = preprocess_and_impute(framingham, numerical_cols=framingham_numerical_cols, categorical_cols=framingham_categorical_cols)\n\nkidney_numerical_cols = ['age', 'bp', 'su', 'al', 'bgr', 'bu', 'sc', 'hemo']\nkidney_categorical_cols = ['pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'ane']\nkidney = preprocess_and_impute(kidney, numerical_cols=kidney_numerical_cols, categorical_cols=kidney_categorical_cols)\n\ndiabetes_numerical_cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']\ndiabetes = preprocess_and_impute(diabetes, numerical_cols=diabetes_numerical_cols, categorical_cols=[])\n\nheart_numerical_cols = ['Age', 'RestingBP', 'Cholesterol']\nheart_categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']\nheart = preprocess_and_impute(heart, numerical_cols=heart_numerical_cols, categorical_cols=heart_categorical_cols)\n\n# Ensure all columns are present after preprocessing\nprint(framingham.columns)\nprint(kidney.columns)\nprint(diabetes.columns)\nprint(heart.columns)\n"

In [45]:
'''
# Define target columns for each dataset
framingham_target = 'heart_rate_groups'
kidney_target = 'classification'
diabetes_target = 'Outcome'
heart_target = 'HeartDisease'

# Train models
model_framingham = RandomForestClassifier(n_estimators=100, random_state=42)
framingham_features = framingham_numerical_cols + list(one_hot_encoder.get_feature_names_out(framingham_categorical_cols))
model_framingham.fit(framingham[framingham_features], framingham[framingham_target])

model_kidney = RandomForestClassifier(n_estimators=100, random_state=42)
kidney_features = kidney_numerical_cols + list(one_hot_encoder.get_feature_names_out(kidney_categorical_cols))
model_kidney.fit(kidney[kidney_features], kidney[kidney_target])

model_diabetes = RandomForestClassifier(n_estimators=100, random_state=42)
diabetes_features = diabetes_numerical_cols
model_diabetes.fit(diabetes[diabetes_features], diabetes[diabetes_target])

model_heart = RandomForestClassifier(n_estimators=100, random_state=42)
heart_features = heart_numerical_cols + list(one_hot_encoder.get_feature_names_out(heart_categorical_cols))
model_heart.fit(heart[heart_features], heart[heart_target])

# Save models, imputers, and encoders
joblib.dump(model_framingham, 'model_framingham.pkl')
joblib.dump(model_kidney, 'model_kidney.pkl')
joblib.dump(model_diabetes, 'model_diabetes.pkl')
joblib.dump(model_heart, 'model_heart.pkl')
joblib.dump(numerical_imputer, 'numerical_imputer.pkl')
joblib.dump(categorical_imputer, 'categorical_imputer.pkl')
joblib.dump(one_hot_encoder, 'one_hot_encoder.pkl')
'''

"\n# Define target columns for each dataset\nframingham_target = 'heart_rate_groups'\nkidney_target = 'classification'\ndiabetes_target = 'Outcome'\nheart_target = 'HeartDisease'\n\n# Train models\nmodel_framingham = RandomForestClassifier(n_estimators=100, random_state=42)\nframingham_features = framingham_numerical_cols + list(one_hot_encoder.get_feature_names_out(framingham_categorical_cols))\nmodel_framingham.fit(framingham[framingham_features], framingham[framingham_target])\n\nmodel_kidney = RandomForestClassifier(n_estimators=100, random_state=42)\nkidney_features = kidney_numerical_cols + list(one_hot_encoder.get_feature_names_out(kidney_categorical_cols))\nmodel_kidney.fit(kidney[kidney_features], kidney[kidney_target])\n\nmodel_diabetes = RandomForestClassifier(n_estimators=100, random_state=42)\ndiabetes_features = diabetes_numerical_cols\nmodel_diabetes.fit(diabetes[diabetes_features], diabetes[diabetes_target])\n\nmodel_heart = RandomForestClassifier(n_estimators=100, random_state=42)\nheart_features = heart_numerical_cols + list(one_hot_encoder.get_feature_names_out(heart_categorical_cols))\nmodel_heart.fit(heart[heart_features], heart[heart_target])\n\n# Save models, imputers, and encoders\njoblib.dump(model_framingham, 'model_framingham.pkl')\njoblib.dump(model_kidney, 'model_kidney.pkl')\njoblib.dump(model_diabetes, 'model_diabetes.pkl')\njoblib.dump(model_heart, 'model_heart.pkl')\njoblib.dump(numerical_imputer, 'numerical_imputer.pkl')\njoblib.dump(categorical_imputer, 'categorical_imputer.pkl')\njoblib.dump(one_hot_encoder, 'one_hot_encoder.pkl')\n"